{{!-- {{#if (gt starredOrganizations.length 0)}} --}}

{{#if hasStarredOrganizations}}
  <li>You have {{decorate-number starredOrganizations.length loud=true}} stars</li>
{{/if}}

{{#each organizations as |org|}}
  <li class="organization {{if org.isStarred 'starred'}}">
    {{#link-to 'organizations.organization' org.login}}
      {{#if hasBlock}}
        {{yield org}}
      {{else}}
        {{org.name}}
      {{/if}}
    {{/link-to}}

    <a href="#" class="star" {{action on-save org}}>*</a>
    {{!-- {{action on-save org}}  --}}
  </li>
{{else}}
  {{yield to="inverse"}}
{{/each}}
